@import "../../transitions/variables";
@import "../../mixins/mixins";

.footer {
	@include flex(column);
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	max-width: 250rem;
	min-height: 30rem;
	margin: 0 auto;
	padding: 15em 2em 13em;

	h3 {
		@include position(absolute, 5rem, 50%, null, null, 10);
		transform: translateX(50%);
		text-align: center;
		color: $primary-color;
		text-shadow: $text-shadow-tertiary;
	}

	.newsletter {
		@include flex(column);
		width: 100%;

		label {
			width: 100%;
			font-size: 1.4rem;
			text-align: center;
		}

		button {
			max-width: 20rem;
			margin: 1em auto;
		}
	}

	.newsletter div {
		margin: 0 auto;
		padding: 2em 0 1em;

		input {
			width: 100%;
		}

		//icon
		div {
			@include position(absolute, 50%, 0);
			transform: translateY(-50%);
		}
	}

	&__box {
		height: 100%;
		margin: 0 auto;
		text-align: center;

		h5 {
			margin-top: 2em;
			font-size: 1.8rem;
			color: $tertiary-color;
		}

		ul {
			li:first-child {
				margin-top: 1em;
			}

			li {
				font-size: 1.4rem;
				max-width: max-content;
				margin: 0 auto;

				a {
					display: block;
					position: relative;
					height: 100%;
					padding: 0.5em 3em;
					transition: color 0.3s;

					//icon
					div {
						margin-right: 0.3em;
					}

					&:hover {
						color: $secondary-color;
					}
				}
			}
		}
	}

	.footer__address {
		a {
			display: flex;
			align-items: center;
			padding: 0.5em;
		}

		div {
			width: 2rem;
		}
	}

	&__logo {
		margin: 1em auto 0;
		font-size: 2.5rem;
		width: 25rem;

		div {
			width: 2.5rem;
		}
	}

	.footer__box:last-of-type {
		width: 100%;
		h5 {
			margin-bottom: 1em;
		}
	}

	p:last-of-type {
		@include position(absolute, null, 50%, 4rem);
		transform: translateX(50%);
		text-align: center;
	}

	@include media-query(mediumScreen) {
		padding: 15em 0 10em;
		p:last-of-type {
			bottom: 2rem;
		}
		flex-direction: row;
		&__box {
			display: block;
			width: 30%;
		}
	}
	@include media-query(largeScreen) {
		padding: 15em 5em 10em;
	}

	@include media-query(x-largeScreen) {
		h5 {
			font-size: 2rem;
		}

		&__box {
			a {
				font-size: 1.7rem;
			}
		}

		.footer__logo {
			margin: 1em auto 0;
			font-size: 3rem;

			div {
				width: 3rem;
			}
		}
	}

	@include media-query(hugeScreen) {
		padding: 15em 10em 10em;

		h3 {
			font-size: 3.2rem;
		}

		span:last-of-type {
			div {
				width: 4rem;
			}
		}
	}
}
