@import "../../transitions/variables";
@import "../../mixins/mixins";

.footer {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 30rem;
	padding: 15em 2em 10em;

	> .newsletter {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	> h3 {
		color: $primary-color;
		position: absolute;
		z-index: 10;
		top: 5rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	> .newsletter > label {
		width: 100%;
		font-size: 1.4rem;
		text-align: center;
	}

	.newsletter__input-box {
		display: flex;
		position: relative;
		width: 100%;
		max-width: 30rem;
		margin: 0 auto;
		padding: 2em 0 1em;

		> input {
			width: 100%;
		}

		> div {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-20%);
		}
	}

	> .newsletter > button {
		max-width: 20rem;
		margin: 1em auto;
	}

	@include media-query(mediumScreen) {
		padding: 15em 5em 10em;
	}
	@include media-query(largeScreen) {
		flex-direction: row;
	}

	@include media-query(hugeScreen) {
		padding: 15em 10em 10em;
	}
}
