@import "../../transitions/variables";
@import "../../mixins/mixins";
.nav {
	position: fixed;
	width: 100vw;
	height: 6em;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: $background-nav;
	opacity: 1;
	animation: show 1s forwards;
	box-shadow: $boxshadow-primary;

	&__list {
		display: flex;
		height: 100%;
	}

	&__item {
		position: relative;
		height: 100%;
		flex: 1;
	}

	// &__item:hover,
	&__link:hover,
	.nav__link--isActive {
		color: $secondary-color;
		fill: $secondary-color;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: $link-color-primary;
		fill: $link-color-primary;
		transition: color 0.3s, fill 0.3s;

		&:before {
			content: "";
			@include position(absolute, 0.7em, 1em, 0, 1em);
			top: 0;
			border: 3px solid $secondary-color;
			border-width: 4px 10px;
			border-color: transparent transparent $secondary-color;
			opacity: 1;
			transform: scale(0);
			transition: transform 0.3s, opacity 0.3s;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.nav__link--isActive {
		&:before {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__item-options {
		top: -20rem;
		z-index: -1;
	}

	@media (max-height: 500px) {
		&__item-options {
			top: -10rem;
		}
	}

	@include media-query(mediumScreen) {
		display: none;
	}
}

//Handling opacity navbar during scrolling
.isShow {
	opacity: 0;
	animation: hide 1s forwards;
}

@keyframes hide {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
