@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";
.nav {
	display: none;
	width: max-content;
	margin-left: 2em;

	&__list {
		display: flex;
		&-link {
			position: relative;
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;
			font-weight: bold;
			padding: 0 1.5em;
			transition: color 0.3s;
			transition: opacity 0.3s;

			&:hover {
				color: $secondary-color;
			}

			&:before {
				content: "";
				position: absolute;
				transform: rotate(30deg);
				width: 50%;
				height: 1px;
				background-color: $secondary-color;
				opacity: 0;
				transition: opacity 0.3s, transform 0.3s;
			}

			&:hover:before {
				opacity: 1;
				transform: rotate(45deg);
			}
		}
	}

	@include media-query(x-largeScreen) {
		display: flex;
	}
}
