@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";
.nav {
	display: flex;
	height: 100%;

	&__list {
		display: flex;
		&-link {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;

			padding: 0 1.5em;
			transition: opacity 0.3s, color 0.3s;
			text-shadow: 0 0 2px #c7c7c7;

			&:hover {
				color: $secondary-color;
			}

			&:before {
				content: "";
				position: absolute;
				transform: rotate(30deg);
				width: 50%;
				height: 1px;
				background-color: $secondary-color;
				opacity: 0;
				transition: opacity 0.3s, transform 0.3s;
			}

			&:hover:before {
				opacity: 1;
				transform: rotate(45deg);
			}
		}

		&__icon {
			display: block;
		}
	}
}
