@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";
.nav {
	display: flex;
	height: 100%;

	&__list {
		display: flex;

		> li {
			position: relative;

			&:hover > ul {
				transform: scale(1) translateX(50%);
			}
		}
	}

	&__item {
		@include flex(column, null, center);
		position: relative;
		height: 100%;
		width: 100%;
		padding: 0 1.5em;
		transition: opacity 0.3s, color 0.3s;

		&:hover {
			color: $secondary-color;
		}

		&:before {
			content: "";
			@include position(absolute, 0.7em, 1em, 0, 1em);
			top: 0;
			border: 3px solid $secondary-color;
			border-width: 5px 10px;
			border-color: $secondary-color transparent transparent;
			opacity: 1;
			transform: scale(0);
			transition: transform 0.3s, opacity 0.3s;
		}
	}

	&__item--active {
		color: $secondary-color;

		&:before {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.avatar {
	&__notices {
		@include position(absolute, 0.2em, 0, null, null, 1);
		padding: 0.2em;
		font-size: 1.3rem;
		border-radius: 2px;
		background-color: $background-octonary;
	}

	&__dropdown {
		right: -2rem;
		bottom: -9.5em;
		transform: translateX(0), scale(1, 0);
		transform-origin: top right;
	}

	&:hover > &__dropdown {
		transform: scale(1);
		opacity: 1;
	}

	@include media-query(xx-largeScreen) {
		&__dropdown {
			bottom: -8.4em;
		}
	}
}
