@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";
.nav {
	display: flex;
	height: 100%;

	&__list {
		display: flex;
		&-link {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			padding: 0 1.5em;
			transition: opacity 0.3s, color 0.3s;
			text-shadow: 0 0 2px #c7c7c7;

			&:hover {
				color: $secondary-color;
			}

			&:before {
				content: "";
				position: absolute;
				transform: rotate(5deg);
				width: 50%;
				height: 1px;
				background-color: $secondary-color;
				opacity: 0;
				transition: opacity 0.3s, transform 0.3s;
			}

			&:hover:before {
				opacity: 1;
				transform: rotate(20deg);
			}
		}

		&__icon {
			display: block;
		}
	}
}

.avatar {
	position: absolute;
	width: 7rem;
	height: 7rem;
	right: 0;
	top: 0;
	transition: transform 1s opacity 1s;
	cursor: pointer;

	&__img {
		position: absolute;
		right: 2em;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: 0 0 5px white;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}

	&__tooltip {
		display: block;
		opacity: 0;
		position: absolute;
		text-align: center;
		right: 0;
		top: 100%;
		width: 15em;
		background-color: #161b22;
		transform-origin: top right;
		transform: scale(0);

		transition: transform 0.3s, opacity 0.3s;

		li {
			box-shadow: 0px 10px 10px #0000003f;
			height: 100%;

			a {
				position: relative;
				align-items: center;
				justify-content: center;
				display: flex;
				padding: 1em;

				&:hover {
					color: $secondary-color;
				}

				&:before {
					content: "";
					position: absolute;
					transform: rotate(0deg);
					width: 40%;
					height: 1px;
					background-color: $secondary-color;
					opacity: 0;
					transition: opacity 0.3s, transform 0.3s;
				}

				&:hover:before {
					opacity: 1;
					transform: rotate(10deg);
				}
			}
		}

		&:hover {
			transform: scale(1);
			opacity: 1;
		}
	}

	&:hover ~ .avatar__tooltip {
		transform: scale(1);
		opacity: 1;
	}
}
