@import "../../transitions/variables";
@import "../../mixins/mixins";

.dropdown {
	@include position(absolute, null, 50%);
	width: 20rem;
	transform: scale(0) translateX(50%);
	transition: transform 0.3s, opacity 0.3s, color 0.3s;
	transform-origin: top right;
	text-align: center;
	box-shadow: $boxshadow-senary;
	background-color: $background-nav;

	li {
		position: relative;
		box-shadow: $boxshadow-septenary;
	}

	&__item {
		@include flex(row, null, center);
		padding: 1em 1em;
		font-size: 1.6rem;
		transition: color 0.3s;

		&:hover {
			color: $secondary-color;
		}
	}

	&__notices {
		@include position(absolute, 50%, 1em, null, null, 1);
		transform: translateY(-50%);
		padding: 0.2em;
		width: 2.5rem;
		font-size: 1.3rem;
		border-radius: 2px;
		background-color: $background-octonary;
	}
}
