@import "../../transitions/variables";
@import "../../mixins/mixins";

.menu {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	border-radius: 50%;
	position: fixed;
	width: 768px;
	height: 20rem;
	// background-color: #fff;

	&::after {
		content: "";
		@include position(absolute, -100rem, -100em, -100rem, -100rem, -1);
		background-color: #161b22e3;
		transform: translateY(0);
		animation: move-shadow 0.5s;
		transition: transform 0.5s;
	}

	.menu &__cutout {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		animation: visible 1s;
		clip-path: polygon(
			50% 0%,
			90% 20%,
			100% 60%,
			75% 100%,
			25% 100%,
			0% 60%,
			10% 20%
		);
		background-color: #64616138;

		&--inVisible {
			opacity: 0;
		}

		&:hover svg {
			color: $secondary-color;
			rotate: 180deg;
		}

		svg {
			transition: color 0.3s, rotate 0.3s;
			width: 2rem;
		}
	}

	&__item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0 auto;
		width: 50px;
		height: 50px;
		background-color: transparent;
		transition: transform 0.5s, opacity 0.5s;
		animation-duration: 0.5s;
	}

	&__item-link {
		position: absolute;
		left: 50%;
		width: 70px;
		height: 80px;
		transform: translateX(-50%);
		background-color: transparent;
		z-index: 1;
		outline: none;

		&:hover ~ p {
			color: $secondary-color;
		}
	}

	&__item-hexagon {
		width: 50px;
		height: 50px;
		clip-path: polygon(
			50% 0%,
			90% 20%,
			100% 60%,
			75% 100%,
			25% 100%,
			0% 60%,
			10% 20%
		);
	}

	&__item-title {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -2rem;
		font-size: 1.3rem;
		text-align: center;
		transition: color 0.3s;

		&--bottom {
			bottom: -3.5rem;
		}
	}

	&__item:nth-child(1) {
		transform: translate(-50%, -250%);
		animation-name: move-top;
	}

	&__item:nth-child(2) {
		transform: translate(145%, -50%);
		animation-name: move-right;
	}
	&__item:nth-child(3) {
		transform: translate(-240%, -50%);
		animation-name: move-left;
	}

	&__item:nth-child(4) {
		transform: translate(-50%, 145%);
		animation-name: move-bottom;
	}

	&__item--second:nth-child(1) {
		transform: translate(-240%, -50%);
		animation-name: move-right;
	}
	&__item--second:nth-child(2) {
		transform: translate(145%, -50%);
		animation-name: move-left;
	}

	@media (max-height: 500px) {
		.menu &__cutout {
			top: 2rem;
		}

		.menu &__cutout--second {
			right: -14rem;
		}

		&__item:nth-child(1) {
			transform: translate(-50%, -30%);
			animation-name: landscape-move-bottom;
		}

		&__item:nth-child(2) {
			transform: translate(145%, -30%);
			animation-name: landscape-move-right;
		}

		&__item:nth-child(3) {
			transform: translate(-240%, -30%);
			animation-name: landscape-move-left;
		}

		&__item:nth-child(4) {
			transform: translate(-50%, -230%);
			animation-name: landscape-move-top;
		}

		&__item--second:nth-child(1) {
			transform: translate(-240%, -30%);
			animation-name: landscape-move-left;
		}

		&__item--second:nth-child(2) {
			transform: translate(145%, -30%);
			animation-name: landscape-move-right;
		}
	}
}

.menu .menu__item--reverse {
	transform: translate(-50%, -50%);
	opacity: 0;
}

.menu-hide {
	&::after {
		transform: translateY(100%);
	}
}

@keyframes visible {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes move-shadow {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes move-top {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -250%);
		opacity: 1;
	}
}

@keyframes move-right {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-240%, -50%);
		// transform: translate(145%, -50%);
		opacity: 1;
	}
}

@keyframes move-left {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		// transform: translate(-240%, -50%);
		transform: translate(145%, -50%);
		opacity: 1;
	}
}

@keyframes move-bottom {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 145%);
		opacity: 1;
	}
}

@keyframes move-left-min {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-140%, -50%);
		opacity: 1;
	}
}

@keyframes move-right-min {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(50%, -50%);
		opacity: 1;
	}
}

@keyframes landscape-move-top {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -230%);
		opacity: 1;
	}
}
@keyframes landscape-move-bottom {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -30%);
		opacity: 1;
	}
}
@keyframes landscape-move-right {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(145%, -30%);
		opacity: 1;
	}
}
@keyframes landscape-move-left {
	from {
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	to {
		transform: translate(-240%, -30%);
		opacity: 1;
	}
}
