@import "../../../../transitions/variables";

.logreg-box {
	display: flex;
	justify-content: center;
	width: 100%;
	backdrop-filter: blur(20px);

	form {
		width: 30rem;
		margin: 0 auto;
		padding: 5em 0;
	}

	h1 {
		font-size: 3rem;
		text-align: center;
	}

	&__input-box {
		margin: 4em auto;
		div {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__input-box input {
		width: 100%;
		max-width: 35rem;
		border-color: $primary-color;
		&::placeholder {
			color: $primary-color;
		}
	}

	&__remember-forgot {
		display: flex;

		label {
			margin-left: 0.5em;
		}

		a {
			margin-left: auto;
		}

		font-size: 1.6rem;
	}

	button {
		margin: 2em 0;
	}

	p {
		display: flex;
		justify-content: center;

		a {
			color: $secondary-color;
			margin-left: 1em;
		}
	}
}
