@import "../../styles/transitions/variables";
@import "../../styles/mixins/mixins";

main .login {
	width: 100vw;
	height: 70rem;

	&__container {
		position: relative;
		z-index: 1000;
		min-height: 70rem;
	}

	&__content {
		display: none;
		flex-wrap: wrap;
		width: 50%;
		height: 100%;
		padding: 5em;

		h3 {
			font-size: 4rem;
			line-height: 1em;
			text-shadow: $heading-primary-shadow;
		}
		h3 > span {
			font-size: 2.5rem;
			font-weight: bold;
		}

		p {
			margin: 2em 0;
			text-shadow: $heading-primary-shadow;
		}

		a {
			align-self: start;
			justify-content: start;
			font-size: 3rem;
		}

		&-text {
			width: 100%;

			ul {
				margin-top: 5em;
			}
		}
	}

	&__form {
		width: 100%;
		backdrop-filter: blur(20px);
		form {
			width: 28rem;
		}
	}

	@include media-query(mediumScreen) {
		// margin-top: 15em;
		height: 100rem;

		&__container {
			z-index: 100;
			min-height: 60rem;
			width: 90%;
			border-radius: 5px;
		}

		&__form {
			width: 50%;
			form {
				width: 30rem;
			}
		}

		&__content {
			display: flex;
		}
	}

	@include media-query(xx-largeScreen) {
		&__container {
			width: 100%;
		}

		&__form {
			width: 40%;
		}

		&__content {
			padding: 10em;
			width: 60%;
		}
	}
}
