//colors

$primary-color: #fff;
$secondary-color: #45f882;
$tertiary-color: #201f2a;
$quaternary-color: #a01c35;
$quinary-color: #232323;
$senary-color: #191919;

$danger-color: tomato;

//background-colors
$background-primary: #0b0e13;
$background-secondary: #121a23;
$background-tertiary: #0d141b;

$background-nav: #0f161b;

//shadow-colors-font

$font-shadow-primary: #a1daff;
$font-shadow-secondary: #0d845a;

//$link colors

$link-color-primary: #adb0bc;

//breakpoints

$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$x-largeScreen: 1200px;
$xx-largeScreen: 1400px;
