//colors

$primary-color: #fff;
// $secondary-color: #45f882;
$secondary-color: #e08821;
$tertiary-color: #ebdbbe;
$quaternary-color: #090f16;
$quinary-color: #232323;
$senary-color: #191919;
$septenary-color: #21da85;

$danger-color: rgb(5, 30, 255);

//background-colors
$background-primary: #181818;
$background-secondary: #121a23;
$background-tertiary: #0d141b;
$background-quaternary: #192737;
$background-quinary: #131313;
$background-senary: rgba(0, 0, 0, 0.39);
$background-septenary: rgba(14, 14, 14, 0.9);
$background-octonary: rgba(0, 0, 0, 0.8901960784);

//background - section
$section-bg-primary: #131313;

//background - card

$card-bg-primary: #97530b4b;
$card-sh-primary: 0 -2px 5px rgb(32, 32, 32);

//navigation
$background-nav: #181818;

//cards-colors

$card-color-primary: #131313;

//input-colors

$input-color_primary: #1f2935;

//shadow-colors-font

//$link colors

$link-color-primary: #adb0bc;

//breakpoints

$foldScreen: 280px;
$smallScreen: 568px;
$mediumScreen: 768px;
$largeScreen: 992px;
$x-largeScreen: 1200px;
$xx-largeScreen: 1400px;
$hugeScreen: 1800px;

//btn hover

$btn-hover-primary-c: #ccb35f;

//heading-shadow
$heading-primary-shadow: 2px 2px 2px black;

//box-shadow
$boxshadow-primary: 0 5px 15px 0 rgba(0, 0, 0, 0.8);
$boxshadow-secondary: 0 0 15px black; // WrapperFormWithContent
$boxshadow-quinary: 0 0 5px #fff; //Avatar
$boxshadow-senary: inset 0px -5px 5px black; // dropdownmenu box
$boxshadow-septenary: 0px 10px 10px #0000003f;

//heroshadow-bgc

$hero-primay-bgc: rgba(0, 0, 0, 0.596);
$hero-secondary-bgc: rgba(0, 0, 0, 0.827);

//text-shadow
$text-shadow-primary: 2px 2px 2px black;
$text-shadow-tertiary: 3px 3px 4px rgb(82, 55, 5);

$bgc-animation: conic-gradient(#e08821, rgba(14, 14, 14, 0.9));

$bgc-eventItem-primary: #161515;
$bgc-eventItem-secondary: #1b1a1a;

$bgc-notification-primary: #1d160e;
$bgc-notification-secondary: #461111;

$tool-color-primary: #008170;
$tool-color-secondary: #cd1818;
$tool-color-tertiary: #2f58cd;
