//colors

$primary-color: #fff;
// $secondary-color: #45f882;
$secondary-color: #e08821;
$tertiary-color: #090f16;
$quaternary-color: #090f16;
$quinary-color: #232323;
$senary-color: #191919;

$danger-color: tomato;

//background-colors
$background-primary: #161b22;
$background-secondary: #121a23;
$background-tertiary: #0d141b;

//background - section
$section-bg-primary: #212529;

//navigation
$background-nav: #161b22;

//cards-colors

$card-color-primary: #212529;

//input-colors

$input-color_primary: #1f2935;

//shadow-colors-font

$font-shadow-primary: #a1daff;
$font-shadow-secondary: #0d845a;

//$link colors

$link-color-primary: #adb0bc;

//breakpoints

$smallScreen: 568px;
$mediumScreen: 768px;
$largeScreen: 992px;
$x-largeScreen: 1200px;
$xx-largeScreen: 1400px;
$hugeScreen: 1800px;

//btn hover

$btn-hover-primary-c: #ccb35f;

//header-gradiets

$header-mobile-gradient: linear-gradient(
	rgb(17, 22, 12, 0.6),
	rgb(29, 39, 31, 0.5),
	rgb(17, 30, 25, 0.9),
	rgb(17, 30, 25, 0.9),
	rgba(33, 41, 31, 0.3),
	rgb(74, 114, 135, 0.01)
);

$header-medium-gradient: linear-gradient(
	rgb(29, 39, 31, 0.5),
	rgba(15, 15, 15, 0.7),
	rgba(14, 19, 17, 1),
	rgba(14, 19, 17, 1),
	rgb(17, 30, 25, 1),
	rgb(17, 30, 25, 1),
	rgba(14, 19, 17, 0.6),
	rgba(14, 19, 17, 0.6),
	rgba(14, 19, 17, 0.1)
);

$header-large-gradient: linear-gradient(
	rgb(29, 39, 31, 0.5),
	rgba(15, 15, 15, 0.7),
	rgba(15, 15, 15, 0.7),
	rgba(14, 19, 17, 1),
	rgba(14, 19, 17, 1),
	rgb(17, 30, 25, 0.8),
	rgb(17, 30, 25, 0.8),
	rgba(14, 19, 17, 0.1)
);

$header-huge-gradient: linear-gradient(
	rgb(29, 39, 31, 0.5),
	rgba(15, 15, 15, 0.7),
	rgb(17, 30, 25, 1),
	rgb(17, 30, 25, 1),
	rgba(15, 15, 15, 0.7),
	rgba(14, 19, 17, 0.6),
	rgba(14, 19, 17, 0.6),
	rgba(14, 19, 17, 0.1)
);
