@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.card {
	position: relative;
	padding: 3em 3em;
	min-height: 25rem;
	text-align: center;

	@include media-query(hugeScreen) {
		padding: 5em 10em;
	}
}
