@import "../../../transitions/variables";

.skew {
	&:hover {
		transform: scale(1.05);
	}

	&::before {
		content: "";
		position: absolute;
		background-color: $card-color-primary;
		transform: skew(-7deg);
		z-index: -10;

		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.normal {
	text-align: center;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: $card-bg-primary;
		z-index: 2;
	}

	&:after {
		content: "";
		position: absolute;

		left: 0;
		bottom: 0;
		height: 12rem;
		width: 100%;
		background-color: $background-primary;
		z-index: 2;
		box-shadow: $card-sh-primary;
	}
}
