@import "../../../transitions/variables";

.skew {
	&::before {
		content: "";
		position: absolute;
		transform: skew(-7deg);
		z-index: -10;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $card-color-primary;
		box-shadow: $boxshadow-primary;
		transition: transform 0.3s;
	}

	&:hover:before {
		transform: skew(-7deg) scale(1.05);
	}
}

.normal {
	text-align: center;
	box-shadow: $boxshadow-primary;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: $card-bg-primary;
		z-index: 2;
	}

	&:after {
		content: "";
		position: absolute;

		left: 0;
		bottom: 0;
		height: 12rem;
		width: 100%;
		background-color: $background-primary;
		z-index: 2;
		box-shadow: $card-sh-primary;
	}
}
