@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";

main .container {
	position: relative;
	z-index: -1000;
	padding: 10em 0 5em;
	z-index: 0;

	&__link {
		margin-top: 5em;
	}
}

.section-events {
	flex-direction: column;
	align-items: center;

	.section-events__list {
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 200rem;
		justify-content: center;
		gap: 10em;
	}

	h1 {
		color: $primary-color;
		position: absolute;
		z-index: 10;
		top: 5rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 3.6rem;
		letter-spacing: 1px;
	}

	&__img {
		@include position(absolute, 0, 0, 0, 0, -1000);

		&::before,
		&::after {
			@include position(absolute, 0, 0, 0, 0, 1);
		}
		&::before {
			content: "";
			backdrop-filter: blur(55px);
		}

		&::after {
			content: "";
			background-color: $background-senary;
			z-index: 2;
		}
	}

	@include media-query(largeScreen) {
		flex-direction: column;
	}
}
