@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";

main .container {
	position: relative;
	z-index: -1000;
	padding: 10em 0 5em;
	z-index: 0;

	&__link {
		margin-top: 5em;
	}
}

.section-events {
	flex-direction: column;
	align-items: center;

	.section-events__list {
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 200rem;
		justify-content: center;
		gap: 10em;
	}

	h1 {
		color: $primary-color;
		position: absolute;
		z-index: 10;
		top: 5rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 3.6rem;
	}
	@include media-query(largeScreen) {
		flex-direction: column;
	}
}
