:root,
body {
	position: relative;
	// overflow-x: hidden;
	scroll-behavior: smooth;
}

.div {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	background-color: #fff;
	z-index: 2000;
}

@import "../../styles/base/reset";
@import "../../styles/transitions/variables";
@import "../../styles/base/topography";
@import "../../styles/mixins/mixins";
