@import "../../styles/transitions/variables";
@import "../../styles/mixins/mixins";

.container {
	position: relative;
	min-height: unset;
	height: unset;
	z-index: -1000;
	// background-color: $section-bg-primary;

	z-index: 0;

	&__link {
		margin-top: 2em;
	}

	h1 {
		margin-bottom: auto;
	}
}

.section-events {
	// background-color: $section-bg-primary;
	@include media-query(largeScreen) {
		flex-direction: column;
	}
}
