@import "../../styles/transitions/variables";
@import "../../styles/mixins/mixins";

main .container {
	position: relative;
	min-height: 55rem;
	height: unset;
	max-height: 55rem;
	z-index: -1000;
	padding: 10em 0 5em;
	z-index: 0;

	&__link {
		margin-top: 5em;
	}
}

.section-events {
	flex-direction: column;

	h1 {
		color: $primary-color;
		position: absolute;
		z-index: 10;
		top: 5rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 3.6rem;
	}
	@include media-query(largeScreen) {
		flex-direction: column;
	}
}
