@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.img {
	@include position(absolute, 0, 0, 0, 0, -1000);

	&::before,
	&::after {
		@include position(absolute, 0, 0, 0, 0, 1);
	}
	&::before {
		content: "";
		backdrop-filter: blur(55px);
	}

	&::after {
		content: "";
		background-color: $background-senary;
		z-index: 2;
	}
}
