@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";

.hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60vh;
	min-height: 55rem;
	z-index: -20;

	img {
		object-fit: cover;
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.39);
	}
}

.filter {
	height: 100vh;
	max-height: 80rem;
	min-height: 70rem;

	@include media-query(mediumScreen) {
		min-height: 95rem;
		max-height: 100rem;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 10;
		width: 100vw;
		height: 100vh;
		max-height: 100rem;
		min-height: 90rem;
		top: 0;
		left: 0;
		backdrop-filter: blur(20px);
	}
}
