@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.notifications {
	width: 100%;
	padding: 5em 0;

	&__heading {
		margin-bottom: 0.5em;
		text-align: center;
		color: $secondary-color;
	}

	&__btn {
		@include borderIn(4px, 1px, 0);
		display: block;
		margin: 0 auto;
		position: relative;
		border: none;
		width: max-content;
		max-width: 30rem;
		padding: 14px 26px;
		font-size: 1.4rem;
		font-weight: bold;
		transition: transform 0.3s, color 0.3s;
		text-align: center;
		color: $primary-color;
		border-radius: 3px;
		background-color: transparent;
		cursor: pointer;

		&:hover {
			transform: scale(1.04);
			color: $secondary-color;
		}
	}

	&__pag {
		display: flex;
		justify-content: center;
	}

	&__pag-item {
		font-size: 1.6rem;
		margin: 1em 0;
		padding: 0.5em 1em;
		color: $primary-color;
		cursor: pointer;
		transition: color 0.3s, transform 0.3s;

		&:hover {
			color: $secondary-color;
			transform: scale(1.05);
		}

		&--active {
			clip-path: polygon(
				30% 0%,
				70% 0%,
				100% 30%,
				100% 70%,
				70% 100%,
				30% 100%,
				0% 70%,
				0% 30%
			);

			&:hover {
				transform: scale(1);
			}
			font-weight: bold;

			background-color: $background-primary;
		}
	}

	.notifications__pag-arrow {
		margin: auto 3em;
		cursor: pointer;

		svg {
			transition: color 0.3s;
		}

		&:hover svg {
			color: $secondary-color;
		}
	}

	&__pagOptions {
		display: flex;
		justify-content: center;

		&-item {
			margin-top: 1em;
			padding: 0.7em;
			font-size: 1.4rem;
			cursor: pointer;
		}
	}
}
