@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.tooltip-item {
	a {
		padding: 1.5em 2em;
		width: 100%;
		height: 100%;
		display: block;
		color: $link-color-primary;
	}
	&:before {
		@include pointer("🖍️");
	}

	&:hover:before {
		opacity: 1;
	}

	&:hover a {
		color: $secondary-color;
	}
}
