@import "../../../transitions/variables";

.tooltip {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 30rem;
	left: -30rem;
	background-color: $background-nav;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
