@import "../../transitions/variables";
@import "../../mixins/mixins";

.introduction {
	&__h1 {
		width: 100%;

		text-align: center;
		font-size: 2.5rem;
		margin-top: 1em;
		color: $secondary-color;
		text-shadow: 2px 2px 2px black;
	}

	&__text {
		padding: 1em 0 3em;
		text-shadow: 2px 2px 5px black;
		text-align: center;
		letter-spacing: 1px;
		font-style: italic;
		white-space: pre-line;
	}

	a {
		&::first-letter {
			text-transform: uppercase;
		}
		margin: 0 0.2em;
	}

	@include media-query(foldScreen) {
		a:first-of-type {
			margin-bottom: 0.3em;
		}
	}

	@include media-query(largeScreen) {
		&__h1 {
			font-size: 4rem;
		}
	}
}
