@import "../../transitions/variables";
@import "../../mixins/mixins";

.introduction {
	&__h1 {
		position: relative;
		margin-top: 1em;
		font-size: 2.5rem;
		overflow: hidden;
		text-align: center;
		color: $secondary-color;

		&--pl {
			white-space: nowrap;
			animation: typing-pl 2s steps(15) forwards;
		}

		&--en {
			white-space: nowrap;
			animation: typing-en 2s steps(13) forwards;
		}
	}

	&__loader {
		width: max-content;
		position: relative;
		margin: 0 auto;
		&::before {
			content: "";
			z-index: 1000;
			position: absolute;
			top: 0;
			right: -1rem;
			width: 2px;
			height: 100%;
			background-color: $secondary-color;
			animation: blinkCursor 0.8s steps(3) infinite;
		}
	}

	&__text {
		padding: 1em 0 3em;
		font-style: italic;
		letter-spacing: 1px;
		white-space: pre-line;
		text-align: center;
		text-shadow: 2px 2px 5px black;
	}

	a {
		&::first-letter {
			text-transform: uppercase;
		}
		margin: 0 0.2em;
	}

	@include media-query(foldScreen) {
		a:first-of-type {
			margin-bottom: 0.3em;
		}
	}

	@include media-query(largeScreen) {
		&__h1 {
			font-size: 4rem;
		}
	}
}

@keyframes blinkCursor {
	0%,
	75% {
		opacity: 1;
	}
	76%,
	100% {
		opacity: 0;
	}
}

@keyframes typing-pl {
	0%,
	30% {
		width: 0;
	}
	90%,
	100% {
		width: 216.95px;
	}
}

@keyframes typing-en {
	0%,
	30% {
		width: 0;
	}
	90%,
	100% {
		width: 194.73px;
	}
}

@include media-query(largeScreen) {
	@keyframes typing-pl {
		0%,
		30% {
			width: 0;
		}
		90%,
		100% {
			width: 337.53px;
		}
	}

	@keyframes typing-en {
		0%,
		30% {
			width: 0;
		}

		90%,
		100% {
			width: 306.17px;
		}
	}
}
