@import "../../transitions/variables";
@import "../../mixins/mixins";
.btnSkewRight {
	//temporarty - need to change
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 14px 26px;
	background-color: $background-secondary;
	border-radius: 3px;
	border: 0;
	font-weight: bold;
	color: $primary-color;
	cursor: pointer;
	position: relative;
	background-color: rgba(14, 14, 14, 0.9);
	transform: skew(-10deg);
	font-size: 1.4rem;
	transition: transform 0.3s, color 0.3s;

	&:hover {
		transform: scale(1.04) skew(-10deg);
		color: $secondary-color;
	}

	&:before {
		content: "";
		position: absolute;
		display: flex;
		top: 4px;
		right: 4px;
		bottom: 4px;
		left: 4px;
		border: solid 1px $secondary-color;
		border-radius: 2px;
	}
}

.introduction {
	&__h1 {
		width: 100%;

		text-align: center;
		font-size: 2.5rem;
		margin-top: 1em;
		color: $secondary-color;
		text-shadow: 2px 2px 2px black;
	}

	&__text {
		padding: 1em 0 3em;
		text-shadow: 2px 2px 5px black;
		text-align: center;
		letter-spacing: 1px;
		font-style: italic;
		white-space: pre-line;
	}

	a {
		&::first-letter {
			text-transform: uppercase;
		}
		margin: 0 0.2em;
	}

	@include media-query(largeScreen) {
		&__h1 {
			font-size: 4rem;
		}
	}
}
