@import "../../../../transitions/variables";
@import "../../../../mixins/mixins";

.newsletter {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	min-height: 25rem;

	&__text {
		margin: 1em 0;
	}

	&__btn {
		min-width: min-content;
		border: 1px solid $secondary-color;
		width: 100%;
	}

	em {
		font-size: 1.4rem;
	}

	&__title {
		font-size: 3rem;
		color: $secondary-color;
	}

	@include media-query(hugeScreen) {
		&__title {
			font-size: 4rem;
		}

		&__btn {
			font-size: 2.3rem;
		}

		em {
			font-size: 2rem;
		}
	}
}
