@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";

.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	height: 25vh;
	background-image: $header-mobile-gradient;
	&__logo {
		margin: 0 auto;
		grid-column: 2/3;
		grid-row: 1/3;
	}

	&__nav {
		display: none;
		justify-content: center;
		align-items: flex-start;
		grid-column: 2/3;
		grid-row: 2/3;
		font-size: 1.6rem;
	}
	&__newsletter {
		display: none;
		flex-direction: column;
		grid-column: 3/4;
		grid-row: 1/4;
		justify-content: center;
		width: 80%;
		max-width: 30em;
		margin: 0 auto;
	}

	@include media-query(mediumScreen) {
		grid-template-columns: 50px 2fr 50px;
		grid-template-rows: 1fr 1fr;
		background-image: $header-medium-gradient;

		&__logo {
			grid-row: 1/2;
		}

		&__nav {
			display: flex;
		}
	}

	@include media-query(largeScreen) {
		grid-template-rows: 1fr 1fr 1fr;
		background-image: $header-large-gradient;

		&__logo {
			grid-row: 1/3;
		}

		&__nav {
			grid-row: 3/4;
			font-size: 2.3rem;
		}
	}

	@include media-query(x-largeScreen) {
		grid-template-columns: 50px 1fr 1fr 50px;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		height: 30vh;
		&__logo {
			grid-column: 1/3;
		}
		&__nav {
			grid-column: 2/4;
			grid-row: 4/5;
		}

		&__newsletter {
			display: flex;
			letter-spacing: 4px;
		}
	}

	@include media-query(hugeScreen) {
		grid-template-columns: 50px 1fr 2fr 1fr 50px;
		grid-template-rows: 1fr 1fr 1fr;
		background-image: $header-huge-gradient;
		&__logo {
			grid-column: 1/3;
			grid-row: 1/3;
			align-items: center;
		}

		&__nav {
			grid-column: 3/4;
			grid-row: 1/3;
			align-items: center;
		}

		&__newsletter {
			grid-column: 4/5;
			padding: 0 2em;
			background-image: url();
		}
	}
}
