@import "../../../styles/transitions/variables";
@import "../../../styles/mixins/mixins";

.header {
	position: fixed;
	display: grid;
	z-index: 1000;
	grid-template-columns: 20px 1fr 3fr 10px;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	height: 10rem;
	background-color: $background-nav;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.8);

	&__logo {
		margin: 0 auto;
		grid-column: 2/3;
		grid-row: 1/3;
		font-size: 4rem;
		align-items: center;
	}

	&__nav {
		display: flex;
		justify-content: center;
		grid-column: 3/4;
		grid-row: 1/3;
		font-size: 1.6rem;
	}

	&__avatar {
		position: absolute;
		right: 2em;
		top: 50%;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
		box-shadow: 0 0 5px white;
		cursor: pointer;
		transform: translateY(-50%);
	}

	@include media-query(x-largeScreen) {
		grid-template-columns: 1fr 1fr 3fr 1fr;
	}

	@include media-query(xx-largeScreen) {
		&__nav {
			font-size: 1.8rem;
		}
	}
}
