@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.link {
	display: inline-block;
	position: relative;
	max-width: max-content;
	text-align: center;
	padding: 14px 26px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 1.4rem;
	transition: transform 0.3s;

	@include borderIn(4px, 1px, -10deg);

	&::after {
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		font-size: 1.4rem;
		z-index: -1;
		background-color: rgba(14, 14, 14, 0.9);
		transform: skew(-10deg);
		transition: transform 0.3s, color 0.3s;
	}

	&:hover {
		transform: scale(1.04);
		color: $secondary-color;
	}
}

.green {
	@include borderIn(4px, 1px, -10deg, $septenary-color);

	&:hover {
		color: $septenary-color;
	}
}
