@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.link {
	display: inline-block;
	position: relative;
	max-width: 20rem;
	text-align: center;
	padding: 14px 26px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 1.4rem;
	transition: transform 0.3s;

	@include borderIn(4px, 1px, -10deg);

	&::after {
		content: "";
		@include position(absolute, 0, 0, 0, 0, -1);
		font-size: 1.4rem;
		transform: skew(-10deg);
		transition: transform 0.3s, color 0.3s, background-color 0.3s;
		background-color: rgba(14, 14, 14, 0.902);
	}

	&:hover {
		transform: scale(1.04);
		color: $secondary-color;
	}

	&__transparent {
		&::after {
			background-color: transparent;
		}
		&::before {
			border: none;
		}
	}

	&__border {
		@include position(absolute, 0, 0, 0, 0, 999);
		@include flex(row, center, center);
		align-items: center;
		content: "";
		font-size: 1.4rem;
		font-weight: bold;
		transform: skew(-10deg);
		transition: opacity 0.3s;
		opacity: 0;

		background-color: transparent;
	}
}

.rotating-border {
	--border-size: 0.2rem;
	--border-bg: conic-gradient(#e08821, rgba(14, 14, 14, 0.9));
	--padding: 1.1rem;
	--border-radius: 0.2rem;
	position: absolute;
	transform: scale(0.95) skew(-10deg);
	display: inline-block;
	overflow: hidden;
	padding: calc(var(--padding) + var(--border-size));
	border-radius: var(--border-radius);
	opacity: 1;

	&::before {
		@include position(absolute, 50%, null, null, 50%, -2);
		content: "";
		display: block;
		width: calc(100% * 1.41421356237);
		padding-bottom: calc(100% * 1.41421356237);
		transform: translate(-50%, -50%), skew(-10deg);
		border-radius: 100%;
		animation: spin 5s linear infinite;
		background: var(--border-bg);
	}
	&--reverse::before {
		animation-direction: reverse;
	}
	&::after {
		content: "";
		position: absolute;
		inset: var(--border-size);
		z-index: -1;
		border-radius: calc(var(--border-radius) - var(--border-size));
		background: rgba(14, 14, 14, 0.9);
	}
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0) skew(-10deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg) skew(-10deg);
	}
}

.green {
	@include borderIn(4px, 1px, -10deg, $septenary-color);

	&:hover {
		color: $septenary-color;
	}
}
