@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.section {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 30rem;
	padding: 15em 2em 10em;

	@include media-query(mediumScreen) {
		padding: 15em 5em 10em;
	}
	@include media-query(largeScreen) {
		flex-direction: row;
	}

	@include media-query(hugeScreen) {
		padding: 15em 10em 10em;
	}
}
