@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.container {
	display: flex;
	position: relative;
	z-index: 500;
	width: 100%;
	max-width: 120rem;
	min-height: 60rem;
	height: 65rem;

	&::before {
		@include position(absolute, 0, 0, 0, 0, -1);
		content: "";
		background-color: rgba(22, 22, 22, 0.178);
	}

	&__img {
		object-fit: cover;
		object-position: top;
		z-index: -20;
	}

	&__content {
		display: none;
		flex-wrap: wrap;
		width: 50%;
		height: 100%;
		padding: 5em;

		&-heading {
			width: 70%;
			font-size: 3rem;
			line-height: 1em;
			text-shadow: $heading-primary-shadow;
		}

		&-heading > span {
			font-size: 2rem;
			font-weight: bold;
		}

		p {
			margin: 2em 0;
			text-shadow: $heading-primary-shadow;
		}

		a {
			align-self: start;
			justify-content: start;
			font-size: 3rem;
		}

		&-text {
			width: 100%;

			ul {
				margin-top: 5em;
			}
		}
	}

	@include media-query(mediumScreen) {
		z-index: 100;
		width: 90%;
		min-height: 60rem;

		&__content {
			display: flex;
		}
	}

	@include media-query(xx-largeScreen) {
		width: 100%;

		&__content {
			padding: 10em;
			width: 60%;
		}
	}
}
