:root,
body {
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
@import "../styles/base/reset";
@import "../styles/transitions/variables";
@import "../styles/base/topography";
@import "../styles/mixins/mixins";

.hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60vh;
	min-height: 55rem;

	z-index: -20;

	img {
		object-fit: cover;
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgb(192, 185, 185, 0.2);
	}
}
