@import "../styles/transitions/variables";
@import "../styles/mixins/mixins";

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}

.second-card {
	margin: 5em 0;

	@include media-query(largeScreen) {
		margin: 0 5em;
	}
}

.card-icon {
	width: 4rem;
	color: $secondary-color;
}

.aboutus {
	position: relative;
	flex-wrap: wrap;
	background-color: $section-bg-primary;
	justify-content: center;
	padding: 10rem 2em;
	gap: 5rem;

	&__card {
		min-height: 40rem;
		min-width: 25rem;
		margin-bottom: 5rem;
		padding: 0;
		margin: 0;
	}

	&__image {
		position: absolute;
		z-index: 5;
	}

	@include media-query(mediumScreen) {
		flex-direction: row;

		&__card {
			flex-basis: 40%;
		}
	}
}
