@import "../styles/transitions/variables";
@import "../styles/mixins/mixins";

.main {
	min-height: 100vh;
	width: 100vw;
}

.history {
	padding: 15em 3em 10em;

	> h3 {
		color: $primary-color;
		position: absolute;
		z-index: 10;
		top: 5rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	> div > div {
		width: 4rem;
		color: $secondary-color;
	}

	> div > h4 {
		color: $secondary-color;
		padding: 0.2em 0 2em;
		letter-spacing: 0.2rem;
	}

	> div:nth-child(3) {
		margin: 4em 0;
	}
	@include media-query(mediumScreen) {
		padding: 15em 5em 10em;
	}

	@include media-query(largeScreen) {
		> div:nth-child(3) {
			margin: 0 2em;
		}
	}

	@include media-query(hugeScreen) {
		padding: 15em 10em 10em;
		> div {
			padding: 3em 3em;
		}
		> h3 {
			font-size: 3.2rem;
		}

		> div > h4 {
			font-size: 2.4rem;
		}

		> div > p {
			font-size: 1.6rem;
			padding: 0 5em 2em;
		}
	}
}

.aboutus {
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5rem;

	background-color: $section-bg-primary;

	> img {
		position: absolute;
	}

	& > div {
		display: grid;
		grid-template-rows: 1fr 3rem 9rem;
		min-height: 40rem;
		min-width: 25rem;
		margin-bottom: 5rem;
		padding: 0;
		margin: 0;
		overflow: hidden;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	> h3 {
		color: $primary-color;
		position: absolute;
		z-index: 10;
		top: 5rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	> div > h4 {
		position: relative;
		z-index: 10;
		margin-top: 20px;
		font-size: 2rem;
		font-style: italic;
		text-shadow: 1px 1px 1px black;
		color: $secondary-color;
	}

	> div > h5 {
		position: relative;
		height: max-content;
		margin-top: auto;
		z-index: 6;
		font-size: 1.4rem;
		color: #ebdbbe;
	}

	> div > p {
		position: relative;
		font-size: 1.3rem;
		z-index: 5;
		height: max-content;
		padding: 1em 2em;
		align-self: flex-end;
	}

	@include media-query(mediumScreen) {
		flex-direction: row;

		> div {
			flex-basis: 40%;
		}
	}

	@include media-query(x-largeScreen) {
		> div > h5 {
			font-size: 2rem;
			margin-top: 0.6em;
		}

		> div > p {
			font-size: 1.6rem;
			padding: 0 1em 1em;
		}
	}

	@include media-query(hugeScreen) {
		padding: 15em 10em 10em;
		> h3 {
			font-size: 3.2rem;
		}

		> div > h4 {
			font-size: 2.8rem;
		}

		> div > p {
			font-size: 1.6rem;
			padding: 0 5em 2em;
		}
		> div {
			min-height: 50rem;
		}
	}
}
