@import "../../../transitions/variables";

.input {
	position: relative;
	background-color: $input-color_primary;
	margin-right: 1em;
	border: 1px solid #29576e;
	padding: 1em 1em;
	color: $primary-color;
	border-radius: 5px;
	width: 100%;

	&::placeholder {
		color: $link-color-primary;
	}
}


