@import "../../../transitions/variables";

.carousel-item {
	position: absolute;
	clip-path: polygon(
		20% 0%,
		80% 0%,
		100% 20%,
		100% 80%,
		80% 100%,
		20% 100%,
		0% 80%,
		0% 20%
	);

	height: 100%;
	width: 30%;
	max-width: 40rem;
	box-shadow: $heading-primary-shadow;
	transition: transform 1s, opacity 1s;

	&__img {
		position: absolute;
		object-fit: cover;
		object-position: top;
		z-index: -1;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $hero-primay-bgc;
	}
}
