@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.carousel {
	position: relative;
	display: flex;
	justify-content: center;
	width: 95%;
	height: 35rem;
	z-index: 1;

	&__item {
		transition: transform 2s, opacity 2s;
		div {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			z-index: 2;
			text-shadow: $heading-primary-shadow;
			height: 40%;
		}
		time {
			display: block;
			padding: 2rem 4rem;
			min-width: 14rem;
			background-color: $hero-secondary-bgc;
			transform: skew(-10deg);

			@include borderIn(5px, 2px, 0);
		}
		span {
			display: block;
			font-weight: bold;
			font-size: 2.4rem;
			text-align: center;
			transform: skew(10deg);
			font-size: 1.3rem;

			&:nth-child(2) {
				margin: 0.2em 0 0.5em;
				transform: scale(1.4);
			}
		}

		h3 {
			position: relative;
			padding: 1em;
			margin-top: 1em;
			font-size: 1.8rem;
			z-index: 1;
			text-align: center;
			text-shadow: $heading-primary-shadow;
		}

		a {
			position: absolute;
			margin-top: auto;
			bottom: 0;
			width: 100%;
			padding: 1em 0;
			font-size: 1.8rem;
			text-align: center;
			letter-spacing: 2px;
			color: $tertiary-color;
			background-color: $background-tertiary;

			&:hover {
				background-color: $background-secondary;
			}
		}
	}

	&__item--middle {
		position: relative;
		max-width: 50rem;
		height: 100%;
		width: 100%;
		box-shadow: 0 0 15px black;
		transform: scale(1);
		z-index: 3;

		&::before {
			z-index: 0;
			background-color: unset;
		}
	}

	&__item--left {
		opacity: 0;
		transform: translateX(100%);
		width: 100%;
		z-index: 2;
	}

	&__item--right {
		opacity: 0;
		width: 100%;
		transform: translateX(-300%);
		z-index: 2;
	}

	@include media-query(mediumScreen) {
		display: flex;

		&__item--middle {
			width: 40%;
		}

		&__item--left {
			opacity: 1;
			transform: translateX(80%) scale(0.8);
			animation: move-left 2s;
		}
		&__item--right {
			opacity: 1;
			transform: translateX(-80%) scale(0.8);
		}
	}
}

@keyframes move-left {
	0% {
		opacity: 1;
		transform: translateX(-80%) scale(0.8);
	}
	50% {
		opacity: 0;
		transform: translateX(-120%) scale(0.8);
	}
	52% {
		opacity: 0;
		transform: translateX(100%) scale(0.8);
	}
	100% {
		opacity: 1;
		transform: translateX(80%) scale(0.8);
	}
}
