@import "../../../../styles/transitions/variables";
@import "../../../mixins/mixins";

.logo {
	display: flex;
	margin: 0;
	justify-self: flex-end;

	&__icon {
		display: flex;
		align-items: center;
		width: 4rem;
	}

	&__text {
		display: flex;
		margin-left: 0.2em;
		align-items: center;
		font-size: 4rem;

		&--awarded {
			color: $secondary-color;
		}
	}

	@include media-query(smallScreen) {
		&__icon {
			width: 4rem;
		}

		&__text {
			font-size: 4rem;
		}
	}
	@include media-query(largeScreen) {
		&__icon {
			width: 4rem;
		}

		&__text {
			font-size: 4rem;
		}
	}
}
