@import "../../../transitions/variables";

.logo {
	display: flex;
	justify-content: center;

	&__icon {
		display: flex;
		align-items: center;
		max-width: 13%;
	}
	&__text {
		display: inline;
		margin-left: 0.2em;
		font-size: inherit;

		&--awarded {
			color: $secondary-color;
		}
	}
}

.logo > div {
	margin: 0;
}
