@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.event-item {
	position: relative;
	display: flex;
	flex-direction: column;

	min-height: 15em;
	width: 100%;
	min-width: 100%;
	background-color: $background-quaternary;
	box-shadow: $boxshadow-primary;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0 10px black;

	&__box {
		position: relative;
		display: flex;
		width: 100%;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 20%;
			right: 10%;
			width: 1em;
			height: 1em;
			background-color: $background-primary;
			border: 3px solid $secondary-color;
			border-style: inset;
			transform: skew(-15deg);
			transition: transform 0.3s;
		}
		&:hover::before,
		&:hover::after {
			transform: scale(1.1);
		}

		&::after {
			top: 80%;
			left: 40%;
			transform: skew(15deg);
			border-color: $septenary-color;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 70%;
	}

	&__img {
		position: relative;
		margin: auto 0;
		width: 30%;
		min-width: 10rem;
		max-width: 15rem;
		height: 10.5rem;
		overflow: hidden;
		border: 5px solid $background-quaternary;
		border-bottom: 0;

		img {
			position: relative;
			object-position: center;
			height: 100%;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			height: 20px;
			width: 20px;
			top: -10px;
			border: none;
			transform: rotate(45deg);
			background-color: $background-quaternary;
			z-index: 10;
		}

		&::before {
			left: -10px;
		}
		&::after {
			right: -10px;
		}
	}

	&__town {
		position: relative;
		margin: 1em auto 0;
		width: 80%;
		padding-right: 3rem;
		text-align: center;
		word-wrap: break-word;

		&--icon {
			position: absolute;
			top: 60%;
			transform: translateY(-50%);
			left: -2rem;
			width: 1.5rem;
		}
	}

	&__date {
		display: block;
		margin: 0 auto;
		padding-right: 3rem;
		+ p {
			padding-right: 3rem;
			margin: 1em auto 0;
			font-size: 1rem;
			color: $secondary-color;
		}
	}

	&__time {
		position: relative;
		margin: 0 auto;
		font-size: 1.2rem;
		padding-right: 3rem;
	}

	&__title {
		margin-top: auto;
		text-align: center;
		padding: 1em 0;
		color: $tertiary-color;
		background-color: $background-secondary;
		box-shadow: 0 5px 10px black;
		font-size: 1.3rem;
	}

	&__accordion {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 500ms;

		&--control {
			grid-template-rows: 1fr;
		}
	}
}

.details {
	position: relative;
	margin-top: 1em;
	overflow: hidden;

	&__item:nth-child(even) {
		background-color: $background-secondary;
	}
	&__item:nth-child(odd) {
		background-color: $background-tertiary;
	}

	&__item {
		display: flex;
		align-items: center;
		box-shadow: 0 5px 10px black;

		padding: 1em;

		&-icon {
			margin: 0 2em 0 2em;
			width: 3rem;
		}

		address {
			text-align: center;
			margin: 0 auto;
			font-size: 1.2rem;

			p {
				padding: 0.3em 0;
				font-size: 1.2rem;
			}
		}

		time {
			margin: 0 auto;
			text-align: center;

			p {
				padding: 0.3em 0;
				font-size: 1.2rem;
			}
		}

		a {
			margin: 0 auto;
			padding: 1em 1.4em;
			font-size: 1.2rem;
		}
	}
}

@include media-query(smallScreen) {
	.event-item {
		&__content {
			width: 100%;
		}
		&__box::after {
			left: 33%;
		}
	}
}

@include media-query(mediumScreen) {
	.event-item__box::after {
		left: 25%;
	}
}

@include media-query(largeScreen) {
	.event-item {
		max-width: 100rem;
		margin: 0 auto;

		&__box {
			position: relative;
			display: flex;
			width: 100%;
			max-height: 30rem;

			&::before,
			&::after {
				width: 3em;
				height: 3em;
				border-width: 10px;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			font-size: 3rem;
		}

		&__img {
			width: 100%;
			max-width: 30rem;
			height: 30rem;
			border-width: 20px;
		}

		&__town {
			font-size: 3rem;
			&::before {
				content: "";
				position: absolute;
				top: -100%;
				left: -100%;
				width: 0.5em;
				height: 0.5em;
				background-color: $background-primary;
				border: 5px solid $secondary-color;
				border-style: inset;
				transform: skew(-35deg);
			}
		}

		&__date {
			margin-bottom: 4rem;
			font-size: 2rem;
			+ p {
				font-size: 3rem;
				margin-bottom: 0.5em;
			}
		}

		&__time {
			font-size: 2rem;
		}
	}
}
