@import "../../../transitions/variables";

.event-item {
	display: flex;
	flex-direction: column;
	min-height: 15em;
	width: 100%;
	min-width: 28rem;
	background-color: $background-quaternary;
	box-shadow: $boxshadow-primary;
	cursor: pointer;
	box-shadow: 0 0 10px black;

	&__box {
		display: flex;
		width: 100%;
		height: 70%;
		max-height: 10rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__img {
		position: relative;
		width: 100%;
		max-width: 10rem;
		height: 10.5rem;
		overflow: hidden;
		border: 5px solid $background-quaternary;
		border-bottom: 0;

		&:before,
		&:after {
			content: "";
			position: absolute;
			height: 20px;
			width: 20px;
			top: -10px;
			border: none;
			transform: rotate(45deg);
			background-color: $background-quaternary;
			z-index: 10;
		}

		&::before {
			left: -10px;
		}
		&::after {
			right: -10px;
		}
	}

	&__town {
		position: relative;
		width: max-content;
		margin: 1em auto 0;
		padding-right: 3rem;

		&--icon {
			position: absolute;
			top: 60%;
			transform: translateY(-50%);
			left: -2rem;
			width: 1.5rem;
		}
	}

	&__date {
		display: block;
		margin: 0 auto;
		padding-right: 3rem;
		+ p {
			// margin: 1em 5rem 1em auto;
			padding-right: 3rem;
			margin: 1em auto 0;
			font-size: 1rem;
			color: $secondary-color;
		}
	}

	&__time {
		position: relative;
		// margin-left: auto;
		// margin: 0 5rem 0 auto;
		margin: 0 auto;
		font-size: 1.2rem;
		padding-right: 3rem;
	}

	&__title {
		margin-top: auto;
		text-align: center;
		padding: 1em 0;
		color: $tertiary-color;
		background-color: $background-secondary;
		box-shadow: 0 5px 10px black;
		font-size: 1.3rem;
	}
}

.accordion {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 500ms;

	&__control {
		grid-template-rows: 1fr;
	}
}

.details {
	position: relative;
	margin-top: 1em;
	overflow: hidden;

	&__item:nth-child(even) {
		background-color: $background-secondary;
	}
	&__item:nth-child(odd) {
		background-color: $background-tertiary;
	}

	&__item {
		display: flex;
		align-items: center;
		box-shadow: 0 5px 10px black;

		padding: 1em;

		&-icon {
			margin: 0 2em 0 2em;
			width: 3rem;
		}

		address {
			text-align: center;
			margin: 0 auto;
			font-size: 1.2rem;

			p {
				padding: 0.3em 0;
				font-size: 1.2rem;
			}
		}

		time {
			margin: 0 auto;
			text-align: center;

			p {
				padding: 0.3em 0;
				font-size: 1.2rem;
			}
		}

		a {
			margin: 0 auto;
			padding: 1em 1.4em;
			font-size: 1.2rem;
		}
	}
}
