@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.event {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 65rem;
	word-wrap: break-word;
	box-shadow: $boxshadow-primary;
	background-color: $background-quinary;

	&__img {
		position: relative;
		width: 100%;
		min-width: 10rem;
		height: 200px;
	}

	&__informations {
		position: relative;
		display: flex;
		justify-content: space-around;
		z-index: 10;
		flex-wrap: wrap;

		&::before,
		&::after {
			@include position(absolute, null, 2rem, 0.5rem, null, -1);
			content: "";
			rotate: 10deg;
			width: 5rem;
			height: 5rem;
			background-image: url("/images/decorations/violin.webp");
			background-position: center;
			background-size: contain;
		}

		&::after {
			@include position(absolute, null, null, 10%, 2rem, -1);
			rotate: -10deg;
			background-image: url("/images/decorations/percussion.webp");
		}
	}

	&__element-invisible {
		display: none;
	}

	h2 {
		color: $secondary-color;
		text-align: center;
		padding: 1em 0.5em;
		max-width: 28rem;
	}

	h3 {
		font-size: 1.6rem;
		font-weight: normal;
		color: $tertiary-color;
	}

	&__address,
	&__time,
	&__text {
		width: 100%;
		padding: 0 0.5em 1em;
		text-align: center;
		p {
			padding: 0.2em 0;
			font-size: 1.3rem;
		}
	}

	&__address p {
		max-width: 23rem;
		margin: 0 auto;
	}

	&__text {
		width: 100%;
		padding: 1em 2em;
		background-color: $bgc-eventItem-primary;
		p {
			text-align: left;
			text-wrap: pretty;
			padding: 1em 0 0 1em;
		}
	}

	&__tools {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 1em 0;
		word-wrap: normal;
		background-color: $bgc-eventItem-secondary;
	}

	&__link-details {
		min-width: 30%;
		margin: 0 auto;
		z-index: 1;

		&--isowner {
			width: 80%;
			margin: 0 auto;
		}
	}

	&__btns {
		display: flex;
		justify-content: space-around;
		margin-top: 1em;

		a {
			width: 40%;
			padding: 1.3rem;
			transform: skew(0);
		}
	}

	@include media-query(foldScreen) {
		&__informations {
			&::before {
				right: 1rem;
			}

			&::after {
				left: 1rem;
			}
		}
	}

	@include media-query(smallScreen) {
		@include flex(row, null, center);
		flex-wrap: wrap;

		&__img {
			width: 40%;
			height: 200px;

			&--isSmall {
				height: 33rem;
			}
		}

		&__informations {
			width: 60%;

			&::after {
				bottom: 30%;
			}
		}

		h2 {
			padding: 1em 1em;
		}
	}

	@include media-query(mediumScreen) {
		scroll-margin-top: 70px;
		&__text p {
			padding: 1em 5em;
		}

		h2,
		&__address p {
			max-width: 100%;
		}
	}

	@include media-query(mediumScreen) {
		&__text {
			p {
				padding: 1em 5em;
			}
		}

		&__tools {
			@include flex(row, null, center);
			align-items: center;
		}

		.event__link-details--isowner {
			width: 30%;
			min-width: 20%;
			margin: 0 auto;
			a {
				padding: 0;
			}
		}

		&__btns {
			justify-content: space-around;
			width: 50%;
			margin-top: 0;
			button {
				width: 30%;
				padding: 1em 2em;
			}
		}
	}

	@include media-query(largeScreen) {
		&--details {
			max-width: 110rem;
		}
		h2 {
			font-size: 2.5rem;
		}
		h3 {
			font-size: 2rem;
		}

		&__informations p,
		&__text p {
			font-size: 1.7rem;
		}

		&__informations {
			&::before {
				width: 8rem;
				height: 8rem;
				right: 10%;
			}

			&::after {
				left: 10%;
				bottom: 20%;
				width: 7rem;
				height: 7rem;
			}
		}

		.event__link-details--isowner {
			width: 20%;
		}
	}
}
