@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.form {
	width: 28rem;

	h1 {
		margin-top: 2em;
		font-size: 3rem;
		text-align: center;
	}

	@include media-query(foldScreen) {
		width: 26rem;
	}

	@include media-query(mediumScreen) {
		scroll-margin-top: 70px;
	}
}
