@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.default {
	position: relative;
	overflow: hidden;
	z-index: 0;

	&:hover {
		color: $btn-hover-primary-c;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 30px;
		height: 10px;
		background-color: $secondary-color;
		z-index: -5;
		transform: scale(1);
		transition: transform 0.3s;
	}
	&:before {
		top: 0;
		left: 0;
		border-bottom-right-radius: 70%;
	}
	&:after {
		bottom: 0;
		right: 0;
		border-top-left-radius: 70%;
	}

	&:hover:before,
	&:hover:after {
		transform: scale(5.5);
	}
}

.borderIn {
	position: relative;
	background-color: rgba(14, 14, 14, 0.9);
	transform-origin: top;
	font-size: 1.4rem;
	transition: transform 0.3s, color 0.3s;

	&:hover {
		transform: scale(1.02);
		color: $secondary-color;
	}

	&:before {
		content: "";
		position: absolute;
		display: flex;
		top: 4px;
		right: 4px;
		bottom: 4px;
		left: 4px;
		border: solid 1px $secondary-color;
		border-radius: 2px;
	}
}

.btnSkewRight {
	position: relative;
	background-color: rgba(14, 14, 14, 0.9);
	transform: skew(-10deg);
	font-size: 1.4rem;
	transition: transform 0.3s, color 0.3s;

	&:hover {
		transform: scale(1.04) skew(-10deg);
		color: $secondary-color;
	}

	@include borderIn(4px, 1px);
}
