@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.button {
	@include borderIn(4px, 1px, -10deg);
	position: relative;
	border: none;
	width: 100%;
	max-width: 30rem;
	padding: 14px 26px;
	font-size: 1.4rem;
	font-weight: bold;
	// transform: skew(-10deg);
	transition: transform 0.3s, color 0.3s, background-color 0.3s;
	text-align: center;
	color: $primary-color;
	border-radius: 3px;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		transform: scale(1.04);
		color: $secondary-color;
	}

	&::after {
		@include position(absolute, 0, 0, 0, 0, -1);
		content: "";
		background-color: $background-septenary;
		transform: skew(-10deg);
	}

	&__transparent {
		background-color: transparent;

		&::before {
			border: none;
		}
	}

	&__border {
		@include position(absolute, 0, -8px, 0, -8px, 1);
		@include flex(row, center, center);
		align-items: center;
		content: "";
		font-size: 1.4rem;
		font-weight: bold;
		transform: skew(-10deg);
		transition: opacity 0.3s;
		opacity: 0;
		background-color: transparent;
	}
}

.rotating-border {
	--border-size: 0.2rem;
	--padding: 1.2rem;
	--border-radius: 0.2rem;
	transform: scale(0.95) skew(-10deg);
	position: absolute;
	display: inline-block;
	overflow: hidden;
	padding: calc(var(--padding) + var(--border-size));
	border-radius: var(--border-radius);
	opacity: 1;

	&::before {
		@include position(absolute, 50%, null, null, 50%, -2);
		content: "";
		display: block;
		width: calc(100% * 1.41421356237);
		padding-bottom: calc(100% * 1.41421356237);
		transform: translate(-50%, -50%);
		border-radius: 100%;
		animation: spin 5s linear infinite;
		background: $bgc-animation;
	}
	&--reverse::before {
		animation-direction: reverse;
	}
	&::after {
		content: "";
		position: absolute;
		inset: var(--border-size);
		z-index: -1;
		border-radius: calc(var(--border-radius) - var(--border-size));
		background: rgba(14, 14, 14, 0.9);
	}
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0) skew(-10deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg) skew(-10deg);
	}
}
