@import "../../../transitions/variables";

.button {
	width: 100%;
	text-align: center;
	padding: 14px 26px;
	background-color: $background-secondary;
	border-radius: 3px;
	border: 0;
	font-weight: bold;
	color: $primary-color;
	cursor: pointer;
}
