@import "../../../transitions/variables";
@import "../../../mixins/mixins";

.btn {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: transparent;
	font-size: 0.01px;
	cursor: pointer;

	clip-path: polygon(
		50% 0%,
		90% 20%,
		100% 60%,
		75% 100%,
		25% 100%,
		0% 60%,
		10% 20%
	);
	border: none;

	background-color: #181818;
	transition: background-color 0.3s;

	&:hover {
		background-color: $secondary-color;
	}

	svg:first-of-type {
		color: $primary-color;
		width: 2rem;
	}
	.prev {
		margin-right: 2.5px;
	}

	.next {
		margin-left: 2.5px;
	}
}
