@mixin media-query($breakpoint) {
	@if $breakpoint == foldScreen {
		@media (max-width: #{$foldScreen}) {
			@content;
		}
	} @else if $breakpoint == smallScreen {
		@media (min-width: #{$smallScreen}) {
			@content;
		}
	} @else if $breakpoint == mediumScreen {
		@media (min-width: #{$mediumScreen}) {
			@content;
		}
	} @else if $breakpoint == largeScreen {
		@media (min-width: #{$largeScreen}) {
			@content;
		}
	} @else if $breakpoint == x-largeScreen {
		@media (min-width: #{$x-largeScreen}) {
			@content;
		}
	} @else if $breakpoint == xx-largeScreen {
		@media (min-width: #{$xx-largeScreen}) {
			@content;
		}
	} @else if $breakpoint == hugeScreen {
		@media (min-width: #{$hugeScreen}) {
			@content;
		}
	}
}

//landscape
@mixin media-queryLS($breakpoint) {
	@if $breakpoint == smallScreen {
		@media (min-height: #{$smallScreen}) {
			@content;
		}
	} @else if $breakpoint == mediumScreen {
		@media (min-height: #{$mediumScreen}) {
			@content;
		}
	} @else if $breakpoint == smallScreenMax {
		@media (max-height: #{$mediumScreen}) {
			@content;
		}
	}
}

@mixin borderIn($distance, $size, $skew, $color: $secondary-color) {
	&:before {
		content: "";
		position: absolute;
		display: flex;
		top: $distance;
		right: $distance;
		bottom: $distance;
		left: $distance;
		transform: skew($skew);
		border: solid $size $color;
		border-radius: 2px;
	}
}

@mixin pointer($icon) {
	content: $icon;
	position: absolute;
	transform: translateY(-50%);
	right: 0;
	font-size: 3rem;
	opacity: 0;
	transition: opacity 0.5s;
}
