@import "../../transitions/variables";
@import "../../mixins/mixins";

main .section-detail {
	padding-top: 5em;
	display: flex;
	align-items: center;
	flex-direction: column;

	&__item {
		margin-top: 5em;
	}

	&__img {
		z-index: -1;

		&::before,
		&::after {
			@include position(absolute, 0, 0, 0, 0, 1);
		}
		&::before {
			content: "";
			backdrop-filter: blur(20px);
		}

		&::after {
			content: "";
			background-color: $background-senary;
			z-index: 2;
		}
	}

	h1 {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 1.5em;
	}

	@include media-query(mediumScreen) {
		padding-top: 5em;
	}
}
