@import "../../transitions/variables";
@import "../../mixins/mixins";

main .section-detail {
	padding-top: 5em;
	display: flex;
	align-items: center;
	flex-direction: column;

	&__item {
		margin-top: 5em;
	}

	&__img {
		&::before {
			content: "";
			backdrop-filter: blur(20px);
		}
	}

	h1 {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 1.5em;
	}

	@include media-query(mediumScreen) {
		scroll-margin-top: 70px;
		padding-top: 5em;
	}
}
