@import "../../transitions/variables";
@import "../../mixins/mixins";

main .section__new-event {
	@include flex(row, null, center);
	padding: 15em 0 10em;
}
.section__new-event .container {
	height: 115rem;
	box-shadow: $boxshadow-secondary;

	&::before {
		@include position(absolute, 0, 0, 0, 0, -1);
		background-color: $background-senary;
	}
}
